<h3>記事を検索します</h3>
<%= search_form_for search, url: search_sources_path, class: "search-box" do |f| %>
  <div class="form-parts">
    <%= f.label :content_cont, 'キーワード', class: "label" %>
    <%= f.search_field :content_cont, placeholder: "キーワードを入力してください", class: "input-text" %>
  </div>

  <div class="form-parts">
    <%= f.label :grade_id_eq, '校種', class: "label" %>
    <%= f.collection_select :grade_id_eq, Grade.all, :id, :name, include_blank: "指定なし", class: "input-select" %>
  </div>

  <div class="form-parts">
    <%= f.label :subject_id_eq, '教科', class: "label" %>
    <%= f.collection_select :subject_id_eq, Subject.all, :id, :name, include_blank: "指定なし", class: "input-select" %>
  </div>

  <div class="form-parts">
    <%= f.label :course_id_eq, '校種', class: "label" %>
    <%= f.collection_select :course_id_eq, Course.all, :id, :name, include_blank: "指定なし", class: "input-select" %>
  </div>

  <div class="search-submit">
    <%= f.submit '検索', id: "search-btn" %>
  </div>
<% end %>