<div class="form-box p-3">
  <h2>投稿編集</h2>
  <%= form_with(model: @source, id: "source_form", local: true) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>

    <div class="field mb-3">
      <%= f.label 'タイトル' %><br />
      <%= f.text_field :title, placeholder: 'タイトル', class: 'form-control' %>
    </div>

    <div class="field mb-3">
      <%= f.label '校種' %><br />
      <%= f.collection_select :grade_id, Grade.all, :id, :name, {include_blank: "校種を選択してください"}, class: 'form-select' %>
    </div>

    <div class="field mb-3">
      <%= f.label '教科' %><br />
      <%= f.collection_select :subject_id, Subject.all, :id, :name, {}, class: 'form-select' %>
    </div>

    <div class="field mb-3">
      <%= f.label '科目' %><br />
      <%= f.collection_select :course_id, Course.where(subject_id: @source.subject_id), :id, :name, {}, class: 'form-select' %>
    </div>

    <div class="field mb-3">
      <%= f.label '概要' %><br />
      <%= f.text_area :content, cols: "50", rows: "5", placeholder: '概要', class: 'form-control' %>
    </div>

    <%# <div class="field mb-3 image-field">
      <%= f.label '画像' <br />
      <div id="previews">
        <% if @source.image.attached? 
          <div class="preview">
            <%= image_tag @source.image, class: "preview-image" 
            <p><%= f.check_box :source_image_id, {class: "form-check-input", id: "source-image-check"}, @source.image.id, false 画像を削除する</p>
          </div>
        <% end 
      </div>
      <div class="click-upload" id="click-upload">
        <%= f.file_field :image, class: "form-control" 
        <%# 以下、複数枚画像対応コード 
        <%# <%= f.file_field :images, name: 'source[images][]', data: {index: 0}, class: "btn img-btn" 
      </div>
    </div> %>

    <div class="actions mb-3">
      <%= f.submit "更 新", class: "btn btn-warning shadow" %>
    </div>
  <% end %>
  <hr>
  <%= link_to '戻る', :back %>
</div>

<script>
  $(function() {
    $('#source_subject_id').change(function() {
      $.ajax({
        url: "<%= course_source_course_path %>",
        data: { subject_id: $('#source_subject_id').has('option:selected').val() }
      });
    });
  });
</script>