<%= render partial: "search_form", locals: { search: @p} %>
<% if admin_signed_in? %>
  管理者：<%= current_admin.name %>としてログインしました<br />
  <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %>
  <%= link_to '新規投稿', new_source_path %>
  <div class="sources">
    <% @sources.each do |source| %>
      <%= render partial: "source", locals: { source: source } %>
    <% end %>
  </div>
<% elsif user_signed_in? %>
  <%= current_user.name %>としてログインしました<br />
  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
  <%= link_to 'マイページ', user_path(current_user.id) %>
  <%= link_to '新規投稿', new_source_path %>
  <div class="sources">
    <% @sources.each do |source| %>
      <%= render partial: "source", locals: { source: source } %>
    <% end %>
  </div>
<% else %>
  <%= link_to 'ログイン(管理者)', new_admin_session_path %><br />
  <%= link_to '新規登録(管理者)', new_admin_registration_path %><br />
  <%= link_to 'ログイン(ユーザー)', new_user_session_path %><br />
  <%= link_to '新規登録(ユーザー)', new_user_registration_path %><br />
<% end %>