<h1>新規投稿</h1>
<%= form_with(model: @source, local: true) do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>

  <div class="form-parts">
    <%= f.label 'タイトル' %>
    <%= f.text_field :title, placeholder: 'タイトル' %>
  </div>

  <div class="form-parts">
    <%= f.label '校種' %>
    <%= f.collection_select :grade_id, Grade.all, :id, :name, {include_blank: "校種を選択してください"} %>
  </div>

  <div class="form-parts">
    <%= f.label '教科' %>
    <%= f.collection_select :subject_id, Subject.all, :id, :name, {include_blank: "教科を選択してください"} %>
  </div>

  <div class="form-parts">
    <%= f.label '科目' %>
    <%= f.collection_select :course_id, Course.all, :id, :name, {include_blank: "科目を選択してください"} %>
  </div>

  <div class="form-parts">
    <%= f.label '概要' %>
    <%= f.text_field :content, placeholder: '概要' %>
  </div>

  <div class="form-parts">
    <%= f.label '画像' %>
    <%= f.file_field :image, class: 'hidden' %>
  </div>

  <div id="image-list">
  </div>

  <div class="source-submit">
    <%= f.submit "作成" %>
  </div>
<% end %>
<%= image_tag @source.image, id: 'image' if @source.image.present? %>
<%= link_to '戻る', root_path %>