<div class="grid grid-col-2">
  <h2><%= @source.title %></h2>
  <div class="source-caption">
    投稿者：<span style="font-weight: bold;"><%= link_to @source.user.name, user_path(@source.user.id) %></span><br />
    <%= l @source.created_at, class: "source-show-created" %><br />
    <%= @source.grade.name %> <%= @source.subject.name %>
    <% unless @source.course.nil? %>
      <%= @source.course.name %>
    <% end %>
  </div>
  <% if admin_signed_in? || user_signed_in? %>
    <% if current_user == @source.user %>
      <div class="edit-and-destroy-buttons">
        <%= link_to '編集', edit_source_path(@source.id), class: "btn edit-btn" %>
        <button id="openModal" class="btn delete-btn">削除</button>
      </div>
    <% else %>
      <% unless current_user.own?(@source) %>
        <span class="source-bottom-el" id="like-button-<%= @source.id %>" style="text-align: right;">
          <%= render partial: "likes/like", locals: {source: @source} %>
        </span>
      <% end %>
    <% end %>
  <% end %>

  <hr>
    <%= simple_format(h(@source.content)) %>
  <div>

    <% if @source.images.present? %>
      <% @source.images[0..-1].each do |image| %>
        <div class="source-images">
          <%= image_tag image.variant(resize: '200x200') %>
        </div>
      <% end %>
    <% end %>
  </div>

  <hr>

  <div id="comments">
    <h4>コメント</h4>
      <% @source.comments.each do |comment| %>
        <div class="comment">
          <%= comment.user.name %>：<%= comment.text %>
        </div>
      <% end %>
  </div>

  <div class="form-box comment-form-box">
    <% if admin_signed_in? || user_signed_in? %>

      <% unless current_user == @source.user %>

        <%= form_with model: [@source, @comment], id: "comment-form", local: true do |f| %>
          <%= render 'layouts/error_messages', model: @comment %>
          <div class="field">
            <%= f.text_area :text, cols: "50", rows: "5", class: "comment-text" %>
          </div>

          <div class="actions">
            <%= f.submit "コメントする", class: "btn" %>
          </div>
        <% end %>
        
      <% end %>

    <% else %>
      ※※※ コメントを投稿するにはログイン・または新規登録してください。 ※※※
    <% end %>
  </div>
  <%= link_to '戻る', root_path %>
</div>

<%# 削除確認モーダルウィンドウ %>
  <section id="modalArea" class="modalArea">
    <div id="modalBg" class="modalBg"></div>
    <div class="modalWrapper">
      <div class="modalContents">
        この記事を削除します。<br />
        この記事のコメント・いいねなども削除されます。<br />
        よろしいですか？
      </div>
      <div>
        <%= link_to source_path(@source.id), method: :delete, class: "btn delete-btn" do %>
          削除する
        <% end %>
      </div>
      <div id="closeModal" class="closeModal">
        キャンセル
      </div>
    </div>
  </section>
<%# 削除確認モーダルウィンドウ %>