<div class="grid grid-col-2 p-3">
  <h2 style="font-weight: bold"><%= @source.title %></h2>
  <div class="source-caption">
    投稿者：<span style="font-weight: bold;"><%= link_to @source.user.name, user_path(@source.user.id) %></span><br />
    <span class="date-time"><%= l @source.created_at, class: "source-show-created" %></span><br />
    <span style="font-weight: bold;">
      <%= @source.grade.name %> <%= @source.subject.name %>
      <% unless @source.course.nil? %>
        (<%= @source.course.name %>)
      <% end %>
    </span>
  </div>
  <% if admin_signed_in? || user_signed_in? %>
    <% if current_user == @source.user %>
      <div class="edit-and-destroy-buttons">
        <%= link_to edit_source_path(@source.id), class: "btn btn-warning shadow" do %>
          <i class="bi bi-pencil"></i> 編集
        <% end %>
          <button type="button" class="btn btn-danger shadow" data-bs-toggle="modal" data-bs-target="#delModal">
            <i class="bi bi-trash"></i> 削除
          </button>
      </div>
    <% else %>
      <% unless current_user.own?(@source) %>
        <span class="source-bottom-el" id="like-button-<%= @source.id %>" style="text-align: right;">
          <%= render partial: "likes/like", locals: {source: @source} %>
        </span>
      <% end %>
    <% end %>
  <% end %>

  <hr>
  <div>
    <%= safe_join(@source.content.split("\n"),tag(:br)) %>
  </div>

  <div class="mt-3">

    <% if @source.image.attached? %>
      <%= image_tag @source.image.variant(resize: '200x200') %>
    <% end %>

    <%# 複数枚画像対応 %>
    <%# <% if @source.images.present? 
      <% @source.images[0..-1].each do |image| 
        <div class="source-images">
          <%= image_tag image.variant(resize: '200x200') 
        </div>
      <% end 
    <% end  %>
  </div>

  <hr>

  <div id="comments">
    <h4>コメント</h4>
    <hr>
      <% @source.comments.each do |comment| %>
        <div class="comment">
          <%= comment.user.name %>：<%= safe_join(comment.text.split("\n"),tag(:br)) %>
        </div>
        <hr>
      <% end %>
  </div>

  <div class="form-box comment-form-box">
    <% if admin_signed_in? || user_signed_in? %>

      <% unless current_user == @source.user %>

        <%= form_with model: [@source, @comment], id: "comment-form", local: true do |f| %>
          <%= render 'layouts/error_messages', model: @comment %>
          <div class="field mb-3">
            <%= f.text_area :text, cols: "50", rows: "5", class: "comment-text form-control" %>
          </div>

          <div class="actions mb-3">
            <%= f.submit "コメントする", class: "btn btn-warning shadow" %>
          </div>
        <% end %>
        
      <% end %>

    <% else %>
      ※※※ コメントを投稿するにはログイン・または新規登録してください。 ※※※
    <% end %>
  </div>
  <%= link_to '戻る', :back %>
</div>

<%# 削除確認モーダルウィンドウ %>
<div class="modal fade" id="delModal" tabindex="-1" aria-labelledby="delModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="delModalLabel">削除</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        この記事を削除します。<br />
        この記事のコメント・いいねなども削除されます。<br />
        よろしいですか？
      </div>
      <div class="modal-footer">
        <%= link_to source_path(@source.id), class: "btn btn-danger shadow", method: :delete do %>
          削除する
        <% end %>
        <button type="button" class="btn btn-secondary shadow" data-bs-dismiss="modal">キャンセル</button>
      </div>
    </div>
  </div>
</div>

  <%# <section id="modalArea" class="modalArea">
    <div id="modalBg" class="modalBg"></div>
    <div class="modalWrapper">
      <div class="modalContents">
        この記事を削除します。<br />
        この記事のコメント・いいねなども削除されます。<br />
        よろしいですか？
      </div>
      <div class="modal-btns">
        <div>
          <%= link_to source_path(@source.id), class: "btn modal-del-btn", method: :delete do
            削除する
          <% end
        </div>
        <div id="closeModal" class="btn modal-btn">
          キャンセル
        </div>
      </div>
    </div>
  </section> %>
<%# 削除確認モーダルウィンドウ %>