<div class="form-box p-3">
  <h2>ログイン</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="login-flash-message">
      <%= flash[:notice] %>
      <%= flash[:alert] %>
    </div>
    
    <div class="field mb-3">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
    </div>

    <div class="field mb-3">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field mb-3 form-check">
        <%= f.check_box :remember_me, class: 'form-check-input', id: 'flexCheckDefault' %>
        <%= f.label :remember_me, class: 'form-check-label', for: 'flexCheckDefault' %>
      </div>
    <% end %>

    <div class="actions mb-3">
      <%= f.submit "ログイン", class: "btn btn-warning shadow" %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
</div>