<div class="mypage">
  <%# <div class="avator">
    <% if @user.image.attached? 
      <%= image_tag @user.image.variant(resize: '100x100') 
    <% else 
      <%= image_tag "default_avator.png" 
    <% end 
  </div> %>

  <h3><%= @user.name %></h3>
  <div class="user-btns">
    <% if user_signed_in? && current_user == @user %>
      <%= link_to edit_user_registration_path, class: 'btn mypage-btn' do %>
        ユーザー情報編集
      <% end %>
      <%= link_to destroy_user_session_path, class: 'btn logout', method: :delete do %>
        ログアウト
      <% end %>
    <% else %>
      <%= render partial: 'relationships/follow_buttons', locals: {user: @user} %>
      <% if @isRoom %>
        <%= link_to 'チャットへ', room_path(@roomId), class: 'btn mypage-btn' %>
      <% else %>
        <%= form_for @room do |f| %>
          <%= fields_for @entry do |e| %>
            <%= e.hidden_field :user_id, value: @user.id %>
          <% end %>
          <%= f.submit 'チャットを始める', class: 'btn' %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <br>
  <% unless @user.introduction.nil? %>
    <%= safe_join(@user.introduction.split("\n"),tag(:br)) %>
  <% end %>

  <hr>

  <div class="mylists">
    <ul class="tab-list list-unstyled">
      <li class="tab tab-active">
        自分の投稿
      </li>
      <li class="tab">
        フォロー
      </li>
      <li class="tab">
        フォロワー
      </li>
    </ul>

    <div class="tabbox-contents">
      <div class="tabbox box-show">
        <%# 自分の投稿 %>
        <% @sources.each do |source| %>
          <%= render partial: "sources/source", locals: { source: source } %>
        <% end %>
      </div>
      <div class="tabbox">
        <%# フォロー %>
        <%= render partial: "list", locals: { lists: @followings } %>
      </div>
      <div class="tabbox">
        <%# フォロワー %>
        <%= render partial: "list", locals: { lists: @followers } %>
      </div>
    </div>
  </div>
</div>