<p><%= @user.name %></p>
<% if user_signed_in? && current_user == @user %>
  <%= link_to 'ユーザー情報編集', edit_user_registration_path %>
<% else %>
  <p><%= render partial: 'relationships/follow_buttons', locals: {user: @user} %></p>
<% end %>
<p>自己紹介</p>
<%= @user.introduction %>

<p>自分の投稿</p>
<% @sources.each do |source| %>
  <%= render partial: "sources/source", locals: { source: source } %>
<% end %>

<p>いいねした投稿</p>
<% @favorites.each do |favorite| %>
  <%= render partial: "sources/source", locals: { source: favorite } %>
<% end %>