<div class="p-3">
  <h2>チャットルーム一覧</h2>

  <div class="rooms">
    <% @rooms.each do |room| %>
      <div class="room p-2">
        <% Room.find(room.room_id).entries.where.not(user_id: current_user.id).each do |another| %>
          <%= link_to "#{another.user.name}さんとのチャット", room_path(room.room_id) %>
        <% end %>
        <%# <%= link_to "#{room.user.name}さんとのチャット", room_path(room.room_id) %>
        <% if room.room.yet_messages(current_user)>0 %>
          <div class="bg-warning yet">
            <%= room.room.yet_messages(current_user) %>
          </div>
        <% end %>
        <br>
        <span class="room-del" data-bs-toggle="modal" data-bs-target="#delModal_<%= room.room_id %>">ルーム削除</span>
        <%# <%= link_to  "ルーム削除", room_path(room.room_id), class: "room-del", method: :delete %>
      </div>


      <%# 削除確認モーダルウィンドウ %>
      <div class="modal fade" id="delModal_<%= room.room_id %>" tabindex="-1" aria-labelledby="delModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="delModalLabel">削除</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              このチャットルームを削除します。<br />
              過去のチャット履歴はすべて削除されます。<br />
              よろしいですか？
            </div>
            <div class="modal-footer">
              <%= link_to room_path(room.room_id), class: "btn btn-danger shadow", method: :delete do %>
                削除する
              <% end %>
              <button type="button" class="btn btn-secondary shadow" data-bs-dismiss="modal">キャンセル</button>
            </div>
          </div>
        </div>
      </div>

    <% end %>
  </div>
</div>