<div class="form-box">
  <h4>新規登録</h4>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, placeholder: "ユーザー名(ニックネーム可)" %>
    </div>

    <div class="field">
      <%= f.label :grade_id %><br />
      <%= f.collection_select :grade_id, Grade.all, :id, :name, {include_blank: "校種を選択してください"} %>
    </div>

    <div class="field">
      <%= f.label :subject_id %><br />
      <%= f.collection_select :subject_id, Subject.all, :id, :name, {include_blank: "教科を選択してください"} %>
    </div>

    <div class="field">
      <%= f.label :course_id %><br />
      <%= f.collection_select :course_id, Course.all, :id, :name, {include_blank: "科目を選択してください"} %>
    </div>

    <div class="field">
      <%= f.label :image %><em>アバター画像を設定できます</em><br />
      <%= f.file_field :image %>
    </div>

    <div class="field">
      <%= f.label :introduction %><br />
      <%= f.text_area :introduction, cols: "50", rows: "5", placeholder: "自己紹介文を入力してください" %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "新規登録", class: "btn" %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
</div>